{
  "openapi": "3.0.2",
  "info": {
    "title": "Render Public API",
    "description": "Manage everything about your Render services",
    "version": "1.0.0",
    "contact": {
      "name": "Render API",
      "url": "https://community.render.com",
      "email": "support@render.com"
    }
  },
  "x-readme": {
    "metrics-enabled": false
  },
  "servers": [
    {
      "url": "https://api.render.com/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Custom Domains"
    },
    {
      "name": "Deploys"
    },
    {
      "name": "Disks"
    },
    {
      "name": "Environments",
      "description": "A collection of environment variable groups, services, Postgres, and Redis instances"
    },
    {
      "name": "Environment Variable Groups",
      "description": "A collection of environment variables that can be shared across services"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "Metrics",
      "description": "The `Metrics` endpoints allow you to retrieve metrics for your Render services."
    },
    {
      "name": "Notification Settings"
    },
    {
      "name": "Owners",
      "description": "The `Owners` endpoints supply more information about the users and teams that your API key has access to."
    },
    {
      "name": "Postgres"
    },
    {
      "name": "Projects",
      "description": "A collection of environments"
    },
    {
      "name": "Redis"
    },
    {
      "name": "Registry Credentials"
    },
    {
      "name": "Services"
    },
    {
      "name": "Services / Headers",
      "description": "Use HTTP headers to inject response headers in static site responses. You can also use wildcards like /path/* to add headers to responses for all matching request paths."
    },
    {
      "name": "Services / Routes",
      "description": "Add Redirect or Rewrite Rules to modify requests to your site without writing code. You can use URL parameters to capture path segments, and wildcards to redirect everything under a given path."
    }
  ],
  "paths": {
    "/owners": {
      "get": {
        "summary": "List authorized users and teams",
        "operationId": "get-owners",
        "tags": [
          "Owners"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to begin retrieving entries for this query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max number of items that can be returned",
            "schema": {
              "type": "number",
              "default": 20,
              "minimum": 1,
              "maximum": 100,
              "description": "Defaults to 20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "owner": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "email",
                          "type"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "user",
                              "team"
                            ]
                          }
                        }
                      },
                      "cursor": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Unable to generate preferred media types as specified by Accept request header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit has been surpassed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Server currently unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/owners/{ownerId}": {
      "parameters": [
        {
          "name": "ownerId",
          "in": "path",
          "required": true,
          "description": "The ID of the user or team",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Retrieve user or team",
        "operationId": "get-owner",
        "tags": [
          "Owners"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "email",
                    "type"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "user",
                        "team"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unable to find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Unable to generate preferred media types as specified by Accept request header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "The requested resource is no longer available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit has been surpassed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Server currently unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/registrycredentials": {
      "get": {
        "summary": "List registry credentials",
        "operationId": "get-registry-credentials",
        "tags": [
          "Registry Credentials"
        ],
        "description": "List registry credentials",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Filter for the name of a credential"
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Filter for the username of a credential"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "GITHUB",
                  "GITLAB",
                  "DOCKER"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Filter for the registry type for the credential"
          },
          {
            "name": "createdBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Filter for services created before a certain time (specified as an ISO 8601 timestamp)",
            "example": "2021-06-17T08:15:30Z"
          },
          {
            "name": "createdAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Filter for services created after a certain time (specified as an ISO 8601 timestamp)",
            "example": "2021-02-17T08:15:30Z"
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Filter for services updated before a certain time (specified as an ISO 8601 timestamp)",
            "example": "2021-06-17T08:15:30Z"
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Filter for services updated after a certain time (specified as an ISO 8601 timestamp)",
            "example": "2021-02-17T08:15:30Z"
          },
          {
            "name": "ownerId",
            "in": "query",
            "description": "The ID of the owner (team or personal user) whose resources should be returned",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to begin retrieving entries for this query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max number of items that can be returned",
            "schema": {
              "type": "number",
              "default": 20,
              "minimum": 1,
              "maximum": 100,
              "description": "Defaults to 20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "username",
                      "registry"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for this credential"
                      },
                      "name": {
                        "type": "string",
                        "description": "Descriptive name for this credential"
                      },
                      "registry": {
                        "type": "string",
                        "enum": [
                          "GITHUB",
                          "GITLAB",
                          "DOCKER"
                        ],
                        "description": "The registry to use this credential with"
                      },
                      "username": {
                        "type": "string",
                        "description": "The username associated with the credential"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Unable to generate preferred media types as specified by Accept request header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit has been surpassed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Server currently unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create registry credential",
        "description": "Create registry credential",
        "operationId": "create-registry-credential",
        "tags": [
          "Registry Credentials"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "registry",
                  "username",
                  "authToken",
                  "ownerId"
                ],
                "properties": {
                  "registry": {
                    "type": "string",
                    "enum": [
                      "GITHUB",
                      "GITLAB",
                      "DOCKER"
                    ]
                  },
                  "name": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "authToken": {
                    "type": "string"
                  },
                  "ownerId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "username",
                    "registry"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this credential"
                    },
                    "name": {
                      "type": "string",
                      "description": "Descriptive name for this credential"
                    },
                    "registry": {
                      "type": "string",
                      "enum": [
                        "GITHUB",
                        "GITLAB",
                        "DOCKER"
                      ],
                      "description": "The registry to use this credential with"
                    },
                    "username": {
                      "type": "string",
                      "description": "The username associated with the credential"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood by the server.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "You must enter payment information to perform this request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Unable to generate preferred media types as specified by Accept request header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The current state of the resource conflicts with this request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit has been surpassed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Server currently unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/registrycredentials/{registryCredentialId}": {
      "parameters": [
        {
          "name": "registryCredentialId",
          "in": "path",
          "required": true,
          "description": "The ID of the registry credential",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Retrieve registry credentials",
        "description": "Retrieve registry credentials",
        "tags": [
          "Registry Credentials"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "username",
                    "registry"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this credential"
                    },
                    "name": {
                      "type": "string",
                      "description": "Descriptive name for this credential"
                    },
                    "registry": {
                      "type": "string",
                      "enum": [
                        "GITHUB",
                        "GITLAB",
                        "DOCKER"
                      ],
                      "description": "The registry to use this credential with"
                    },
                    "username": {
                      "type": "string",
                      "description": "The username associated with the credential"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "You do not have permissions for the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unable to find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Unable to generate preferred media types as specified by Accept request header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "The requested resource is no longer available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit has been surpassed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Server currently unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update registry credential",
        "description": "Update registry credential. Services that use this credential must be redeployed to use the updated values.",
        "operationId": "update-registry-credential",
        "tags": [
          "Registry Credentials"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "registry",
                  "username",
                  "authToken"
                ],
                "properties": {
                  "registry": {
                    "type": "string",
                    "enum": [
                      "GITHUB",
                      "GITLAB",
                      "DOCKER"
                    ]
                  },
                  "name": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "authToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "username",
                    "registry"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this credential"
                    },
                    "name": {
                      "type": "string",
                      "description": "Descriptive name for this credential"
                    },
                    "registry": {
                      "type": "string",
                      "enum": [
                        "GITHUB",
                        "GITLAB",
                        "DOCKER"
                      ],
                      "description": "The registry to use this credential with"
                    },
                    "username": {
                      "type": "string",
                      "description": "The username associated with the credential"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood by the server.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "You must enter payment information to perform this request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "You do not have permissions for the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unable to find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Unable to generate preferred media types as specified by Accept request header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The current state of the resource conflicts with this request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "The requested resource is no longer available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit has been surpassed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Server currently unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete registry credential",
        "description": "Delete registry credential",
        "operationId": "delete-registry-credential",
        "tags": [
          "Registry Credentials"
        ],
        "responses": {
          "204": {
            "description": "Registry credential deleted"
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "You do not have permissions for the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unable to find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Unable to generate preferred media types as specified by Accept request header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "The requested resource is no longer available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit has been surpassed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Server currently unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/services": {
      "get": {
        "summary": "List services",
        "operationId": "get-services",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Filter by resource name"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "static_site",
                  "web_service",
                  "private_service",
                  "background_worker",
                  "cron_job"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Filter for types of services"
          },
          {
            "name": "env",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "docker",
                  "elixir",
                  "go",
                  "node",
                  "python",
                  "ruby",
                  "rust",
                  "image"
                ],
                "description": "Environment (runtime)"
              }
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Filter for environments (runtimes) of services"
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "frankfurt",
                  "oregon",
                  "ohio",
                  "singapore"
                ],
                "default": "oregon",
                "description": "Defaults to \"oregon\""
              }
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Filter by resource region"
          },
          {
            "name": "suspended",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "suspended",
                  "not_suspended"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Filter resources based on whether they're suspended or not suspended"
          },
          {
            "name": "createdBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Filter for resources created before a certain time (specified as an ISO 8601 timestamp)",
            "example": "2021-06-17T08:15:30Z"
          },
          {
            "name": "createdAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Filter for resources created after a certain time (specified as an ISO 8601 timestamp)",
            "example": "2021-02-17T08:15:30Z"
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Filter for resources updated before a certain time (specified as an ISO 8601 timestamp)",
            "example": "2021-06-17T08:15:30Z"
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Filter for resources updated after a certain time (specified as an ISO 8601 timestamp)"
          },
          {
            "name": "ownerId",
            "in": "query",
            "description": "The ID of the owner (team or personal user) whose resources should be returned",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to begin retrieving entries for this query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max number of items that can be returned",
            "schema": {
              "type": "number",
              "default": 20,
              "minimum": 1,
              "maximum": 100,
              "description": "Defaults to 20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "service": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "ownerId",
                          "type",
                          "createdAt",
                          "updatedAt",
                          "suspended",
                          "suspenders",
                          "autoDeploy",
                          "notifyOnFail",
                          "slug",
                          "serviceDetails",
                          "rootDir"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "autoDeploy": {
                            "type": "string",
                            "enum": [
                              "yes",
                              "no"
                            ]
                          },
                          "branch": {
                            "type": "string"
                          },
                          "buildFilter": {
                            "type": "object",
                            "required": [
                              "paths",
                              "ignoredPaths"
                            ],
                            "properties": {
                              "paths": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "ignoredPaths": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "environmentId": {
                            "type": "string"
                          },
                          "imagePath": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notifyOnFail": {
                            "type": "string",
                            "enum": [
                              "default",
                              "notify",
                              "ignore"
                            ]
                          },
                          "ownerId": {
                            "type": "string"
                          },
                          "registryCredential": {
                            "type": "object",
                            "required": [
                              "id",
                              "name"
                            ],
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "repo": {
                            "type": "string",
                            "example": "https://github.com/render-examples/flask-hello-world"
                          },
                          "rootDir": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "suspended": {
                            "type": "string",
                            "enum": [
                              "suspended",
                              "not_suspended"
                            ]
                          },
                          "suspenders": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "admin",
                                "billing",
                                "user",
                                "parent_service",
                                "unknown"
                              ]
                            }
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "static_site",
                              "web_service",
                              "private_service",
                              "background_worker",
                              "cron_job"
                            ]
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "serviceDetails": {
                            "oneOf": [
                              {
                                "type": "object",
                                "required": [
                                  "buildCommand",
                                  "publishPath",
                                  "pullRequestPreviewsEnabled",
                                  "url",
                                  "buildPlan"
                                ],
                                "properties": {
                                  "buildCommand": {
                                    "type": "string"
                                  },
                                  "parentServer": {
                                    "required": [
                                      "id",
                                      "name"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "publishPath": {
                                    "type": "string"
                                  },
                                  "pullRequestPreviewsEnabled": {
                                    "type": "string",
                                    "enum": [
                                      "yes",
                                      "no"
                                    ]
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "buildPlan": {
                                    "type": "string",
                                    "enum": [
                                      "starter",
                                      "performance"
                                    ],
                                    "default": "starter"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": [
                                  "env",
                                  "envSpecificDetails",
                                  "plan",
                                  "region",
                                  "pullRequestPreviewsEnabled",
                                  "numInstances",
                                  "buildPlan",
                                  "healthCheckPath",
                                  "openPorts",
                                  "url"
                                ],
                                "properties": {
                                  "autoscaling": {
                                    "type": "object",
                                    "required": [
                                      "enabled",
                                      "min",
                                      "max",
                                      "criteria"
                                    ],
                                    "properties": {
                                      "enabled": {
                                        "type": "boolean",
                                        "default": false
                                      },
                                      "min": {
                                        "type": "integer",
                                        "description": "The minimum number of instances for the service"
                                      },
                                      "max": {
                                        "type": "integer",
                                        "description": "The maximum number of instances for the service"
                                      },
                                      "criteria": {
                                        "type": "object",
                                        "required": [
                                          "cpu",
                                          "memory"
                                        ],
                                        "properties": {
                                          "cpu": {
                                            "type": "object",
                                            "required": [
                                              "enabled",
                                              "percentage"
                                            ],
                                            "properties": {
                                              "enabled": {
                                                "type": "boolean",
                                                "default": false
                                              },
                                              "percentage": {
                                                "type": "integer",
                                                "description": "Determines when your service will be scaled. If the average resource utilization is significantly above/below the target, we will increase/decrease the number of instances.\n"
                                              }
                                            }
                                          },
                                          "memory": {
                                            "type": "object",
                                            "required": [
                                              "enabled",
                                              "percentage"
                                            ],
                                            "properties": {
                                              "enabled": {
                                                "type": "boolean",
                                                "default": false
                                              },
                                              "percentage": {
                                                "type": "integer",
                                                "description": "Determines when your service will be scaled. If the average resource utilization is significantly above/below the target, we will increase/decrease the number of instances.\n"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "disk": {
                                    "type": "object",
                                    "required": [
                                      "id",
                                      "name",
                                      "sizeGB",
                                      "mountPath"
                                    ],
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "sizeGB": {
                                        "type": "integer"
                                      },
                                      "mountPath": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "env": {
                                    "type": "string",
                                    "enum": [
                                      "docker",
                                      "elixir",
                                      "go",
                                      "node",
                                      "python",
                                      "ruby",
                                      "rust",
                                      "image"
                                    ],
                                    "description": "Environment (runtime)"
                                  },
                                  "envSpecificDetails": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "required": [
                                          "dockerCommand",
                                          "dockerContext",
                                          "dockerfilePath"
                                        ],
                                        "properties": {
                                          "dockerCommand": {
                                            "type": "string"
                                          },
                                          "dockerContext": {
                                            "type": "string"
                                          },
                                          "dockerfilePath": {
                                            "type": "string"
                                          },
                                          "preDeployCommand": {
                                            "type": "string"
                                          },
                                          "registryCredential": {
                                            "type": "object",
                                            "required": [
                                              "id",
                                              "name",
                                              "username",
                                              "registry"
                                            ],
                                            "properties": {
                                              "id": {
                                                "type": "string",
                                                "description": "Unique identifier for this credential"
                                              },
                                              "name": {
                                                "type": "string",
                                                "description": "Descriptive name for this credential"
                                              },
                                              "registry": {
                                                "type": "string",
                                                "enum": [
                                                  "GITHUB",
                                                  "GITLAB",
                                                  "DOCKER"
                                                ],
                                                "description": "The registry to use this credential with"
                                              },
                                              "username": {
                                                "type": "string",
                                                "description": "The username associated with the credential"
                                              }
                                            }
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "required": [
                                          "buildCommand",
                                          "startCommand"
                                        ],
                                        "properties": {
                                          "buildCommand": {
                                            "type": "string"
                                          },
                                          "startCommand": {
                                            "type": "string"
                                          },
                                          "preDeployCommand": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  "healthCheckPath": {
                                    "type": "string"
                                  },
                                  "numInstances": {
                                    "type": "integer",
                                    "description": "For a *manually* scaled service, this is the number of instances the service is scaled to. DOES NOT indicate the number of running instances for an *autoscaled* service."
                                  },
                                  "openPorts": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "port",
                                        "protocol"
                                      ],
                                      "properties": {
                                        "port": {
                                          "type": "integer",
                                          "example": 10000
                                        },
                                        "protocol": {
                                          "type": "string",
                                          "enum": [
                                            "TCP",
                                            "UDP"
                                          ]
                                        }
                                      }
                                    }
                                  },
                                  "parentServer": {
                                    "required": [
                                      "id",
                                      "name"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "plan": {
                                    "type": "string",
                                    "enum": [
                                      "starter",
                                      "starter_plus",
                                      "standard",
                                      "standard_plus",
                                      "pro",
                                      "pro_plus",
                                      "pro_max",
                                      "pro_ultra",
                                      "free",
                                      "custom"
                                    ],
                                    "example": "starter",
                                    "description": "The instance type to use for the preview instance. Note that base services with any paid instance type can't create preview instances with the `free` instance type."
                                  },
                                  "pullRequestPreviewsEnabled": {
                                    "type": "string",
                                    "enum": [
                                      "yes",
                                      "no"
                                    ]
                                  },
                                  "region": {
                                    "type": "string",
                                    "enum": [
                                      "frankfurt",
                                      "oregon",
                                      "ohio",
                                      "singapore"
                                    ],
                                    "default": "oregon",
                                    "description": "Defaults to \"oregon\""
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "buildPlan": {
                                    "type": "string",
                                    "enum": [
                                      "starter",
                                      "performance"
                                    ],
                                    "default": "starter"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": [
                                  "env",
                                  "envSpecificDetails",
                                  "plan",
                                  "region",
                                  "pullRequestPreviewsEnabled",
                                  "numInstances",
                                  "buildPlan",
                                  "openPorts",
                                  "url"
                                ],
                                "properties": {
                                  "autoscaling": {
                                    "type": "object",
                                    "required": [
                                      "enabled",
                                      "min",
                                      "max",
                                      "criteria"
                                    ],
                                    "properties": {
                                      "enabled": {
                                        "type": "boolean",
                                        "default": false
                                      },
                                      "min": {
                                        "type": "integer",
                                        "description": "The minimum number of instances for the service"
                                      },
                                      "max": {
                                        "type": "integer",
                                        "description": "The maximum number of instances for the service"
                                      },
                                      "criteria": {
                                        "type": "object",
                                        "required": [
                                          "cpu",
                                          "memory"
                                        ],
                                        "properties": {
                                          "cpu": {
                                            "type": "object",
                                            "required": [
                                              "enabled",
                                              "percentage"
                                            ],
                                            "properties": {
                                              "enabled": {
                                                "type": "boolean",
                                                "default": false
                                              },
                                              "percentage": {
                                                "type": "integer",
                                                "description": "Determines when your service will be scaled. If the average resource utilization is significantly above/below the target, we will increase/decrease the number of instances.\n"
                                              }
                                            }
                                          },
                                          "memory": {
                                            "type": "object",
                                            "required": [
                                              "enabled",
                                              "percentage"
                                            ],
                                            "properties": {
                                              "enabled": {
                                                "type": "boolean",
                                                "default": false
                                              },
                                              "percentage": {
                                                "type": "integer",
                                                "description": "Determines when your service will be scaled. If the average resource utilization is significantly above/below the target, we will increase/decrease the number of instances.\n"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "disk": {
                                    "type": "object",
                                    "required": [
                                      "id",
                                      "name",
                                      "sizeGB",
                                      "mountPath"
                                    ],
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "sizeGB": {
                                        "type": "integer"
                                      },
                                      "mountPath": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "env": {
                                    "type": "string",
                                    "enum": [
                                      "docker",
                                      "elixir",
                                      "go",
                                      "node",
                                      "python",
                                      "ruby",
                                      "rust",
                                      "image"
                                    ],
                                    "description": "Environment (runtime)"
                                  },
                                  "envSpecificDetails": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "required": [
                                          "dockerCommand",
                                          "dockerContext",
                                          "dockerfilePath"
                                        ],
                                        "properties": {
                                          "dockerCommand": {
                                            "type": "string"
                                          },
                                          "dockerContext": {
                                            "type": "string"
                                          },
                                          "dockerfilePath": {
                                            "type": "string"
                                          },
                                          "preDeployCommand": {
                                            "type": "string"
                                          },
                                          "registryCredential": {
                                            "type": "object",
                                            "required": [
                                              "id",
                                              "name",
                                              "username",
                                              "registry"
                                            ],
                                            "properties": {
                                              "id": {
                                                "type": "string",
                                                "description": "Unique identifier for this credential"
                                              },
                                              "name": {
                                                "type": "string",
                                                "description": "Descriptive name for this credential"
                                              },
                                              "registry": {
                                                "type": "string",
                                                "enum": [
                                                  "GITHUB",
                                                  "GITLAB",
                                                  "DOCKER"
                                                ],
                                                "description": "The registry to use this credential with"
                                              },
                                              "username": {
                                                "type": "string",
                                                "description": "The username associated with the credential"
                                              }
                                            }
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "required": [
                                          "buildCommand",
                                          "startCommand"
                                        ],
                                        "properties": {
                                          "buildCommand": {
                                            "type": "string"
                                          },
                                          "startCommand": {
                                            "type": "string"
                                          },
                                          "preDeployCommand": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  "numInstances": {
                                    "type": "integer",
                                    "description": "For a *manually* scaled service, this is the number of instances the service is scaled to. DOES NOT indicate the number of running instances for an *autoscaled* service."
                                  },
                                  "openPorts": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "port",
                                        "protocol"
                                      ],
                                      "properties": {
                                        "port": {
                                          "type": "integer",
                                          "example": 10000
                                        },
                                        "protocol": {
                                          "type": "string",
                                          "enum": [
                                            "TCP",
                                            "UDP"
                                          ]
                                        }
                                      }
                                    }
                                  },
                                  "parentServer": {
                                    "required": [
                                      "id",
                                      "name"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "plan": {
                                    "type": "string",
                                    "enum": [
                                      "starter",
                                      "starter_plus",
                                      "standard",
                                      "standard_plus",
                                      "pro",
                                      "pro_plus",
                                      "pro_max",
                                      "pro_ultra",
                                      "free",
                                      "custom"
                                    ],
                                    "example": "starter",
                                    "description": "The instance type to use for the preview instance. Note that base services with any paid instance type can't create preview instances with the `free` instance type."
                                  },
                                  "pullRequestPreviewsEnabled": {
                                    "type": "string",
                                    "enum": [
                                      "yes",
                                      "no"
                                    ]
                                  },
                                  "region": {
                                    "type": "string",
                                    "enum": [
                                      "frankfurt",
                                      "oregon",
                                      "ohio",
                                      "singapore"
                                    ],
                                    "default": "oregon",
                                    "description": "Defaults to \"oregon\""
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "buildPlan": {
                                    "type": "string",
                                    "enum": [
                                      "starter",
                                      "performance"
                                    ],
                                    "default": "starter"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": [
                                  "env",
                                  "envSpecificDetails",
                                  "plan",
                                  "region",
                                  "pullRequestPreviewsEnabled",
                                  "numInstances",
                                  "buildPlan"
                                ],
                                "properties": {
                                  "autoscaling": {
                                    "type": "object",
                                    "required": [
                                      "enabled",
                                      "min",
                                      "max",
                                      "criteria"
                                    ],
                                    "properties": {
                                      "enabled": {
                                        "type": "boolean",
                                        "default": false
                                      },
                                      "min": {
                                        "type": "integer",
                                        "description": "The minimum number of instances for the service"
                                      },
                                      "max": {
                                        "type": "integer",
                                        "description": "The maximum number of instances for the service"
                                      },
                                      "criteria": {
                                        "type": "object",
                                        "required": [
                                          "cpu",
                                          "memory"
                                        ],
                                        "properties": {
                                          "cpu": {
                                            "type": "object",
                                            "required": [
                                              "enabled",
                                              "percentage"
                                            ],
                                            "properties": {
                                              "enabled": {
                                                "type": "boolean",
                                                "default": false
                                              },
                                              "percentage": {
                                                "type": "integer",
                                                "description": "Determines when your service will be scaled. If the average resource utilization is significantly above/below the target, we will increase/decrease the number of instances.\n"
                                              }
                                            }
                                          },
                                          "memory": {
                                            "type": "object",
                                            "required": [
                                              "enabled",
                                              "percentage"
                                            ],
                                            "properties": {
                                              "enabled": {
                                                "type": "boolean",
                                                "default": false
                                              },
                                              "percentage": {
                                                "type": "integer",
                                                "description": "Determines when your service will be scaled. If the average resource utilization is significantly above/below the target, we will increase/decrease the number of instances.\n"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "disk": {
                                    "type": "object",
                                    "required": [
                                      "id",
                                      "name",
                                      "sizeGB",
                                      "mountPath"
                                    ],
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "sizeGB": {
                                        "type": "integer"
                                      },
                                      "mountPath": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "env": {
                                    "type": "string",
                                    "enum": [
                                      "docker",
                                      "elixir",
                                      "go",
                                      "node",
                                      "python",
                                      "ruby",
                                      "rust",
                                      "image"
                                    ],
                                    "description": "Environment (runtime)"
                                  },
                                  "envSpecificDetails": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "required": [
                                          "dockerCommand",
                                          "dockerContext",
                                          "dockerfilePath"
                                        ],
                                        "properties": {
                                          "dockerCommand": {
                                            "type": "string"
                                          },
                                          "dockerContext": {
                                            "type": "string"
                                          },
                                          "dockerfilePath": {
                                            "type": "string"
                                          },
                                          "preDeployCommand": {
                                            "type": "string"
                                          },
                                          "registryCredential": {
                                            "type": "object",
                                            "required": [
                                              "id",
                                              "name",
                                              "username",
                                              "registry"
                                            ],
                                            "properties": {
                                              "id": {
                                                "type": "string",
                                                "description": "Unique identifier for this credential"
                                              },
                                              "name": {
                                                "type": "string",
                                                "description": "Descriptive name for this credential"
                                              },
                                              "registry": {
                                                "type": "string",
                                                "enum": [
                                                  "GITHUB",
                                                  "GITLAB",
                                                  "DOCKER"
                                                ],
[...]
